* {
    font-family: "Be Vietnam Pro", sans-serif;
}

html {
    font-size: 16px;
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 0.15rem;
    font-size: 1rem;
}

.navbar {
    padding: 0 1rem;
}

.navbar > div {
    padding: 1rem 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.nav-item > a {
    color: #000;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0.5rem 0;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.05rem;
}

.nav-item > a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%; 
        width: 0;
        height: 1px; /* Height of the underline */
        background-color: #000; /* Change this to your preferred underline color */
        transition: width 0.3s ease; /* Transition effect for the width change */
        transform: translateX(-50%); /* Center the pseudo-element's root */
}

/* Main */

.nav-item > a:hover::before {
    width: 90%;
}

.container {
    padding: 3% 7% 0;
}

.title {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

.social-links > a {
    color: #000;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.social-links > a:hover {
    background-color: #000;
    color: #fff;
}

/* content */



.avatar img {
    transition: all ease 1s;
}
@media screen and (max-width: 992px) {
    .avatar img {
        border-radius: 0;
        max-width: 100%;
        height: auto;
    } 
}

@media screen and (min-width: 992px) {
    .avatar {
        width: 60%;
    }
    .avatar img{
        border-radius: 50%;
    }
}

.description p {
    font-size: 0.9rem;
    text-align: left;
}

.biography-group {
    margin-top: 2rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.biography-item {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
}

.biography-item > p {
    padding: 0.6rem 0;
    margin: 0;
}

.send-msg-btn {
    margin-top: 2rem;
    font-size: 0.75rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 0;
    padding: 0.5rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.experience-item, .education-item {
    margin: 2rem 0;
    padding-bottom: 0.9rem;
}

.award-item{
    margin: 1.3rem 0;
    padding-bottom: 0.9rem;
}

.skill-item {
    margin: 1.2rem 0;

}
.experience-item:not(:last-child), .education-item:not(:last-child), .award-item:not(:last-child) {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.experience-item-header {
    display: flex;
    justify-content: space-between;
}

.organization-name {
    font-size: 1.1rem;
    font-weight: 700;
}

.experience-position {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
}

.description {
    font-size: 0.9rem;
    text-align: left;
}

.duration {
    padding: 0.15rem 0.6rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}

.award-name {
    font-size: 0.9rem;
    text-decoration: none;
}

.award-name:hover {
    text-decoration: underline;
}

.skill-name {
    font-size: 0.9rem;
    font-weight: 700;
}

.skill-percent {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: right;
}

.hobby-text {
    font-size: 0.9rem;
    text-align: left;
}

.hobby-badge {
    font-size: 0.7rem;
    text-transform: uppercase;
    border: 1px solid rgb(0, 0, 0, 0.2);
    margin-bottom: 0.6rem;
    margin-right: 0.2rem;
}

.portfolio-caption {
    font-size: 0.9rem;
}

#footer {
    margin: 4rem 1rem 0;
}

#footer > div {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    padding: 1rem 0 0.5rem;
}

.footer-text {
    font-size: 0.75rem;
}